@font-face {
  font-family: Segoe UI;
  src: url("assets/fonts/SegoeUI/Segoe UI.ttf") format("truetypefont");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Segoe UI;
  src: url("assets/fonts/SegoeUI/Segoe UI Bold.ttf") format("truetypefont");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Segoe UI;
  src: url("assets/fonts/SegoeUI/Segoe UI Bold Italic.ttf") format("truetypefont");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Segoe UI;
  src: url("assets/fonts/SegoeUI/Segoe UI Italic.ttf") format("truetypefont");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: JetBrains Mono;
  src: url("assets/fonts/JetBrainsMono/JetBrainsMonoNL-Regular.ttf") format("truetypefont");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: JetBrains Mono;
  src: url("assets/fonts/JetBrainsMono/JetBrainsMonoNL-Bold.ttf") format("truetypefont");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: JetBrains Mono;
  src: url("assets/fonts/JetBrainsMono/JetBrainsMonoNL-BoldItalic.ttf") format("truetypefont");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: JetBrains Mono;
  src: url("assets/fonts/JetBrainsMono/JetBrainsMonoNL-Italic.ttf") format("truetypefont");
  font-weight: normal;
  font-style: italic;
}