.page-head {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--line-break);
  background-color: var(--back-color2);
  z-index: 9;

  > .main {
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid var(--line-break);
    height: 3rem;

    > .title-content {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;

      > .icon {
        margin: 0.5rem;
      }

      > .title {
        margin: auto 0;
        font-size: 1.2rem;

        > small {
          margin-left: 0.25rem;
          font-size: 0.9rem;
        }
      }
    }

    > .toggle-theme {
      display: flex;
      padding: 0.25rem 0.5rem;

      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      bottom: 0.5rem;

      border: 1px solid var(--line-break);
      border-radius: 0.25rem;

      background-color: var(--back-color2);
      color: var(--text-color);
      text-decoration: none;
      cursor: pointer;

      > * {
        margin: auto 0;
      }

      &:hover {
        background-color: var(--back-color3);
      }

      &:active {
        background-color: var(--back-color);
      }

      > .play {
        font-size: 1.4rem;
        margin-left: 0.25rem;
        color: var(--green);
      }
    }
  }

  > .route {
    position: relative;
    white-space: nowrap;
    height: 2rem;

    > .path {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.5rem;

      > * {
        margin: auto 0.25rem auto 0;
      }

      > .home {
        color: var(--text-color);
        font-weight: bold;
      }

      > .markdown-icon {
        height: 1.2rem;
      }
    }

    > .links {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.5rem;

      background-color: var(--back-color2);

      .vertical-break {
        margin: 0.25rem 0.5rem;
        border-right: 1px solid var(--line-break);
      }

      > .link-item {
        height: 100%;
        display: flex;
        text-decoration-color: var(--text-light);
        color: var(--text-color);

        > * {
          margin: auto 0;
        }

        > .link-icon {
          font-size: 1.4rem;
          margin-left: 0.5rem;
        }

        .github {
          color: var(--blue);
        }

        .youtube {
          color: var(--red);
        }
      }
    }
  }
}