section.posts .all-blogs {
  font-size: 60%;
  margin-left: 0.5rem;
}

.recent-blogs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(10rem, 20rem));
  gap: 1.5rem;

  .blog-preview {
    h3 {
      margin: 0;
      font-size: 0.95rem;
      color: var(--text-color);
    }

    time {
      font-size: 0.85rem;
      color: var(--text-light);
    }
  }
}

@media only screen and (max-width: 42rem) {
  .recent-blogs {
    grid-template-columns: repeat(2, minmax(10rem, 20rem));
  }
}

@media only screen and (max-width: 25rem) {
  .recent-blogs {
    grid-template-columns: repeat(1, minmax(10rem, 20rem));
  }
}